 @if ((loading$ | async ) === true) {
  <mat-spinner></mat-spinner>
} @else if( info$ | async) {
  <span *ngIf="info$ | async as info">
    <h1 mat-dialog-title>chambre de type {{data.title}}</h1>
<mat-dialog-content class="mat-typography">
  
  <h3>vous êtes a quelques cliques de votre chambre {{data.title}}</h3>

  <p> votre chambre contient:
    
</p><br>
<p *ngFor="let item of info.$values[0].amenities.$values;"> 
  
  {{item}}
  <br>
</p>

<p> Pour un prix de  <span style="color:rgb(21, 81, 212)">{{info.$values[0].pricePerNight}}  €</span> par nuit</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Retour</button>
  <button mat-button [mat-dialog-close]="true" (click)="makeReservation()" >Reserver</button>
</mat-dialog-actions>
  </span>

} @else {
  <div class="h-32 w-32 flex justify-center items-center mx-6">
    <p>
      cette carte ne contient pas encore d'info
    </p>
  </div>
} 