<span class="mat-dialog-container m-0 p-0">
  <h1 mat-dialog-title style="color:rgb(0, 137, 250)">Ajout de fonds</h1>
  <form [formGroup]="form" (ngSubmit)="addFound()">
<div mat-dialog-content>
  <p style="color:rgb(0, 137, 250)">Entrez le montant à ajouter à votre portefeuille:</p>
 
  <mat-form-field>
    <mat-label style="color:rgb(0, 137, 250)">Montant</mat-label>
    <input matInput type="number" formControlName="amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Devise</mat-label>
    <mat-select formControlName="preferredCurrency">
      <mat-option [value]="typecurrency.Dollar">USD</mat-option>
      <mat-option [value]="typecurrency.Euro">EUR</mat-option>
      <mat-option [value]="typecurrency.SwissFranc">franc suisse</mat-option>
      <mat-option [value]="typecurrency.PoundSterling">livre sterling</mat-option>
      <mat-option [value]="typecurrency.Yen">YEN</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
<button mat-button class="dialog-button" (click)="onNoClick()">Annuler</button>
<button mat-button class="dialog-button" [mat-dialog-close]="data" type="submit" cdkFocusInitial>Alimenter</button>
</div>
</form>
</span>
